{% extends 'managing_tables/base.html' %}

{% block page_header %}
  <div class="d-flex justify-content-between">
      <h3>Таблицы всех пользователей</h3>
      {% if request.user.is_authenticated %}
        <a class="btn btn-lg btn-dark" href="{% url 'managing_tables:new_table' %}">Создать таблицу</a>
      {% endif %}
  </div>
{% endblock page_header %}

{% block content %}
  <div class="card mb-3">
      {% for table in tables %}
        <h4 class="card-header" style="background-color: #EBD80F;">
            <a href="{% url 'managing_tables:table' table.id %}" class="link-dark">{{ table.name }}</a>
        </h4>
        <div class="card-body" style="background-color: #E6E6E6;">
            {{ table.competition_type }}
        </div>
      {% empty %}
        <p>Нет ни одной таблицы</p>
      {% endfor %}
  </div>
{% endblock content %}